{{ partial "header.html" . }}

<div class="article-meta">

  <h1><span class="title">{{ .Title | markdownify }}</span></h1>

  <p class="artist">
    <a href='{{ relURL (print "/artist/" .Params.artist | urlize) }}'>{{.Params.artist}}</a>
  </p>

  <p class="tags">
    {{ range $i := (slice "tags") }}
    {{ with ($.Param $i) }}
    {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
    {{ end }}
    {{ end }}
  </p>

</div>

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
